<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>lol</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>
<style>
    p{
        margin: 0 auto;
    }
    header{
        background-color: #041022;
    }
    body{
        background-color: black;
        margin: 0 auto;

    }
    .header-display{
        border-bottom: 3px solid #1F2834;
        display: flex;
        padding: 20px 0;

    }
    .header-title{
        font-size: 30px;
    font-weight: 600;
    color: white;
    }
    .header-nav{
        display: flex;
    align-items: center;
    }
    .header-nav > ul{
        display: flex;
    flex-direction: row;
    color: #B5AD83;
    font-size: 20px;
    font-weight: 600;
    list-style: none;
    margin: 0 auto;
}
    .display-flex{
        display: flex;
    flex-direction: column;
    align-items: center;
    }
    .btn{
    background-color: #1E2428;
    border-color: #A48637;
    margin-bottom: 25px;
    border: 4px solid #A48637;
    padding: 9px 30px;
    border-radius: 0;
}

.btn > p {
    color: #B5AD83;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}
.modal-body{
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0px 0px 125px 130px #00040ed1;
}

    </style>
<body>
    <header>
        <div class="header-display">
            <div> <p class="header-title">LEAGUE OF LEGENDS</p></div>
            <nav class="header-nav">
                <ul>
                    <li style="    margin-right: 35px;
                    margin-left: 10px;">
                        <a>명품상자깡</a>
                    </li>
                    <li>
                        <a>전적 검색</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

        <div class="row">
            <div class="col-4">sds</div>
            <div class="col-8 display-flex">
                
                <div style="
                display: flex;
                align-items: center;
                flex-direction: column;
            "><p style="
    color: white;
    font-size: 25px;
    font-weight: 600;
    position: absolute;
    top: 170px;
">명품상자</p><img id="boxImage" src="../static/img/Masterwork_Chest.webp"></div>
                <div style="
                top: -130px;
                position: relative;
            ">
                    <div style="margin-bottom: 20px;"><p style="
                        font-size: 15px;
                        color: white;
                        font-weight: 600;
                        text-align: center;
                    ">횟수: 0</p></div>
                    <div><button class="btn" id="openBox"><p>열기</p></button>
                    <button class="btn"><p>리셋</p></button></div>
                </div>
            </div>
        </div>
<!-- Modal -->
<div class="modal fade " id="testModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content"  >

          <button id="btn-close"type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div  class="modal-body" id="resultImage">
        
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div> -->
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>    

    <script>
        //상자깡 이미지


                document.getElementById('openBox').addEventListener('click', function() {
                    getRandomSkins();
                    for (let i = 0; i < randomSkins.length; i++) {
                        var boxResultImage = document.getElementById('resultImage');
                    boxResultImage.style.backgroundImage = "url("+ randomSkins[i].imageUrl + ")";
                    }

                    document.getElementById('boxImage').src = '../static/img/boxOpening.webp';

                    console.log("skin: " + randomSkins[0].imageUrl);
      setTimeout(function() {
        var myModal = new bootstrap.Modal(document.getElementById('testModal'));
        myModal.show();
      }, 1900); 

      document.getElementById('btn-close').addEventListener('click',function(){
        document.location.reload;
      });
    });




// 롤 api
var urlAPI = "https://ddragon.leagueoflegends.com/cdn/14.10.1/data/ko_KR/champion.json";
        var allSkins = [];
        const randomSkins = [];
        let boxCount = 0;

        
        $.ajax({
            type: "GET",
            url: urlAPI,
            dataType: "json",
            async: false, // 동기 상태 => ajax는 기본적으로 비동기다.
            success: function (data) {
                const champions = data.data;

                // 모든 챔피언에 대해 개별 요청
                for (const key in champions) {
                    if (champions.hasOwnProperty(key)) {
                        const champion = champions[key];
                        //console.log("key=" + key);
                        fetchChampionSkins(champion.id);
                        
                    }
                    
                }
                
            },
            error: function (request, status, error) {
                console.log("code:" + request.status);
                console.log("message:" + request.responseText);
                console.log("error:" + error);
            },
        });

        function fetchChampionSkins(championId) {
            var championDetailAPI = `https://ddragon.leagueoflegends.com/cdn/14.10.1/data/ko_KR/champion/${championId}.json`;

            $.ajax({
                type: "GET",
                url: championDetailAPI,
                dataType: "json",
                async: false,
                success: function (data) {
                    const championData = data.data[championId];
                    const skins = championData.skins;

                    // 각 스킨 이미지 URL 생성 및 출력
                    skins.forEach(skin => {
                        const skinImageUrl = `http://ddragon.leagueoflegends.com/cdn/img/champion/splash/${championId}_${skin.num}.jpg`;
                       //console.log(`Skin name: ${skin.name}, Skin image URL: ${skinImageUrl}`);
                        allSkins.push({
                            name: skin.name,
                            imageUrl: skinImageUrl
                        });
                    });
                },
                error: function (request, status, error) {
                    console.log("code:" + request.status);
                    console.log("message:" + request.responseText);
                    console.log("error:" + error);
                },
            });
        }
        function getRandomSkins() {
            
            const skinCount = allSkins.length;

            for (let i = 0; i < 1; i++) {
                const randomIndex = Math.floor(Math.random() * skinCount);
                randomSkins.push(allSkins[randomIndex]);

                boxCount++
                
                console.log("count: " + boxCount);
                console.log("skin: " + allSkins[randomIndex].name);
            }
                
        }
        
    </script>
</body>
</html>